.ember-app {
    height: 100%;
    width: 100%;
}

// TODO workaround for ember-paper side nav
body > div:nth-of-type(1) {
    height: 100%;
}

body > div:nth-of-type(3) {
    height: 100%;
}

.md-content {
    overflow-x: hidden;
}

.paper-content {
    overflow-x: hidden;
}

.row-bottom {
    margin-bottom: 25px;
}

.row-top {
    margin-top: 25px;
}

// TODO When ember-paper is themeable, remove
$brand-primary-dark: #5D4037;
$brand-primary: #795548;
$brand-primary-light: #D7CCC8;
$brand-accent: #FF9800;
$brand-primary-text: #212121;
$brand-secondary-text: #727272;
$brand-divider: #B6B6B6;

a {
    color: $brand-primary !important;
    font-weight: bold;

    &:hover {
        color: $brand-primary-dark !important;
    }
}

div.logo a {
    color: #FFF !important;
    &:hover {
        color: $brand-accent !important;
    }
}

// button overrides
.md-button.md-default-theme.md-raised.md-primary, .md-button.md-default-theme.md-fab.md-primary {
    background-color: $brand-primary !important;

    &:hover {
        background-color: darken($brand-primary, 5%) !important;
    }
}

.md-button.md-default-theme.md-primary {
    color: $brand-primary-dark;
}

.md-button.md-default-theme[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled] {
    color: $brand-divider !important;
    fill: $brand-divider !important;
}

.md-button.md-default-theme.md-warn {
    color: $brand-accent !important;
}

// toolbar overrides
md-toolbar.md-default-theme {
    background-color: $brand-primary !important;
}

// checkbox overrides
md-checkbox.md-default-theme.md-checked .md-icon {
    background-color: $brand-accent !important;
}


//
div.unverified {
    background-color: lighten($brand-divider, 20%);
    text-decoration: line-through;

    .list-left-detail {
        text-decoration: line-through;
    }

    .list-right-detail {
        text-decoration: line-through;
    }

    md-checkbox {
        width: 48px;
        margin: 16px;

        .md-container {
            left: 15px;
        }

        .md-label {
            display: none;
        }
    }
}

// header row
.brausr-toolbar-row {
    width: 100%;
}

// search
.brausr-search {

    div.search-wrapper {
        background: rgba(255, 255, 255, .15);
        border-radius: 2px;
        position: relative;
        display: flex;
        flex: 1;

        div.icon-wrapper {
            display: inline-block;
            height: 36px;
            position: relative;
            width: 72px;
            padding: 5px;
        }

        div.input-wrapper {
            position: relative;
            flex: 1;

            input {
                background: none;
                border: none;
                box-sizing: border-box;
                color: #FFF;
                display: block;
                font-size: 1em;
                height: 36px;
                position: absolute;
                width: 100%;
            }
        }
    }
}

// user
.user-avatar {
    float: right;
    height: 36px;
    border-radius: 36px;
}
