.map-canvas {
    height: 650px;
}

.paging-info {
    line-height: 25px;
    padding: 6px;
    text-align: center;
}

.list-left-detail {
    text-align: left;
    font-size: small;
}

.list-right-detail {
    text-align: right;
    font-size: small;
}

md-card img {
    height: 150px;
}

ul.place-hours {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p.place-tagline {
    font-style: italic;
}

div.unverified-beer {
    background-color: lighten($brand-divider, 20%);
    text-decoration: line-through;

    .list-left-detail {
        text-decoration: line-through;
    }

    .list-right-detail {
        text-decoration: line-through;
    }

    md-checkbox {
        width: 48px;
        margin: 16px;

        .md-container {
            left: 16px;
        }
    }
}
