<div class="row">
    <!-- Places -->
    <div class="col-lg-6">

        <div class="row row-bottom">
            <div class="col-lg-4">
                {{#link-to 'places.add'}}{{#paper-button raised=true classNames="md-primary"}}Add Place{{/paper-button}}{{/link-to}}
            </div>
        </div>

        {{places-list latitude=1234 longitude=1234 places=model beer=null}}
    </div>

    <!-- TODO Map? -->
    <div class="col-lg-6 visible-lg">

    </div>
</div>
