<div class="row">
    <!-- Places -->
    <div class="col-lg-6">

        <div class="row row-bottom">
            <div class="col-lg-4">
                {{#paper-button raised=true classNames="md-primary"}}Add Place{{/paper-button}}
            </div>
        </div>

        {{places-list latitude=1234 longitude=1234 beer=null}}
    </div>

    <!-- Map -->
    <div class="col-lg-6 visible-lg">
        Placeholder
    </div>
</div>
