{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{link-to 'Brausr' 'index'}}</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          <li>{{#link-to 'places.index'}}{{#paper-icon icon="place" size="lg"}}{{/paper-icon}} Places{{/link-to}}</li>
          <li>{{#link-to 'favorites.index'}}{{#paper-icon icon="favorite" size="lg"}}{{/paper-icon}} Favorites{{/link-to}}</li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}

      {{#paper-toolbar}}
        <div class="md-toolbar-tools">

          {{#paper-sidenav-toggle}}
            {{#paper-icon icon="menu" size="lg"}}{{/paper-icon}}
          {{/paper-sidenav-toggle}}

          {{currentPath}}

        </div>
      {{/paper-toolbar}}

      {{#paper-content classNames="md-padding"}}
        {{outlet}}
      {{/paper-content}}

  {{/paper-content}}

{{/paper-nav-container}}
