{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{link-to 'Brausr' 'index'}}</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          <li>{{#link-to 'places.index'}}{{#paper-icon icon="place" size="lg"}}{{/paper-icon}} Places{{/link-to}}</li>
          <li>{{#link-to 'favorites.index'}}{{#paper-icon icon="favorite" size="lg"}}{{/paper-icon}} Favorites{{/link-to}}</li>
          <li>{{#link-to 'settings'}}{{#paper-icon icon="settings" size="lg"}}{{/paper-icon}} Settings{{/link-to}}</li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}

      {{#paper-toolbar}}
        <div class="md-toolbar-tools col-lg-12">

            <div class="row brausr-toolbar-row">
                <div class="visible-xs visible-sm col-sm-1 col-xs-1">
                    {{#paper-sidenav-toggle}}
                        {{#paper-icon icon="menu" size="lg"}}{{/paper-icon}}
                    {{/paper-sidenav-toggle}}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 brausr-search">
                    <div class="search-wrapper">
                        <div class="icon-wrapper">
                            {{paper-icon icon="search" size="lg"}}
                        </div>
                        <div class="input-wrapper">
                            <input placeholder="Search Brausr" type="text" tabindex="0" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                    {{#link-to 'me'}}<img src="http://placehold.it/80x80" alt="You" class="user-avatar" />{{/link-to}}
                </div>
            </div>

        </div>
      {{/paper-toolbar}}

      {{#paper-content classNames="md-padding"}}
        {{outlet}}
      {{/paper-content}}

  {{/paper-content}}

{{/paper-nav-container}}
