{{#paper-card classNames="favorites-card favorites-beer"}}
    <img src="http://placehold.it/350x150" alt="Favorite Beers">
    {{#paper-card-content}}
        <h2>Favorite Beers</h2>
        <p>Description</p>
    {{/paper-card-content}}
{{/paper-card}}

{{#paper-card classNames="favorites-card favorites-venues"}}
    <img src="http://placehold.it/350x150" alt="Washed Out">
    {{#paper-card-content}}
        <h2>Favorite Venues</h2>
        <p>Description</p>
    {{/paper-card-content}}
{{/paper-card}}
